body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    }
    header {
    background: #60187f;
    color: white;
    padding: 1rem;
    }
    section {
    background: white;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    input, button {
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    }
    button {
    background: #b47ac7;
    color: white;
    cursor: pointer;
    }
    button:hover {
    background: #c2a6e4;
    }
    ul {
    list-style: none;
    padding: 0;
    }
    ul li {
    background: #e8f0ff;
    margin: 0.3rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    }